@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for IE/Edge */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
